.aboutContainer {
  .otherTitle {
    margin: 16px 0 16px 16px;
    font-weight: 500;
    font-size: 16px;
  }

  .aboutDescriptions {
    margin: 18px 0 0 0;
  }

  :global {
    .ant-descriptions-item-label {
      margin-left: 16px;
      width: 124px;
      text-align: end;
      font-size: 16px;
      color: rgba(0, 0, 0, .85);
    }
  }

  .aboutValue {
    color: #1890FF;
  }
}