.ipConfigContainer {
  .otherTitle {
    margin: 16px 0;
    font-weight: 500;
    font-size: 16px;
  }

  .ipInfoSection {
    margin: 18px 0 24px 0;
    padding: 0 16px;
    background-color: #f5f5f5;
    border-radius: 4px;
    padding: 16px;
  }

  .ipConfigForm {
    margin: 24px 0 0 0;
  }

  :global {
    .ant-descriptions-item-label {
      width: 124px;
      text-align: end;
      font-size: 14px;
      color: rgba(0, 0, 0, .85);
    }
  }

  .ipValue {
    color: #1890FF;
    font-weight: 500;
  }

  .ant-form-item {
    margin-bottom: 24px;
  }

  .ant-input,
  .ant-input-number,
  .ant-select-selection--single {
    height: 40px;
  }

  .ant-switch {
    margin-right: 8px;
  }

  .ant-btn {
    height: 40px;
  }
}